.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info {
    flex: 1;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: gray;
  }
  
  .profile-bio {
    margin-bottom: 20px;
  }
  
  .profile-bio p {
    margin: 0;
  }
  
  
  
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .pname{
    color: #2FC3CD;
  }

  .profile-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;

  }
  
  .profile-post {
    background-color: #2e0d3e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-post h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    /* color: #4f2671; */
    color: white;
  }
  
  .profile-post p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: white;
  }
  
 .my{
    color: #2FC3CD;
    text-align: center;
  }
  
  
  